@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

body {
    background-color: #FAF7F7;
    margin: 0;
    margin-inline: 0px;
}

a {
    text-decoration: none;
    color: black;
}

#header{
    display: flex;
    height: 10rem;
    background: white;
    width: 100%;
    margin-inline: 0;
    padding-inline: 0;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0    2px 2.2px rgba(0, 0, 0, 0.05),
                0 -0.5px 2.2px rgba(0, 0, 0, 0.05);
}

#header #headercontent{
    width: 69rem;
    margin: auto;
    margin-block: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
}

#header #headercontent #navbarwrapper{
    margin: auto;
    margin-block: 0;
    width: 45%;
}
#header #headercontent #logowrapper{
    margin: auto;
    width: 10%;
}
#header #headercontent #searchbarwrapper{
    margin: auto;
    margin-block: 0;
    width: 45%;
}

.textboxoutline .textbox{
    outline: none;
    border: none;
    width: 99%;
}

.textboxoutline{
    background: white;
    color: #ababab;
    float: right;
    border: #ababab 1px solid;
    padding: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;

    margin-block: 0.5rem;
}

.textboxoutline i{
    margin: 2px;
}

#content{
    width: 69rem;
    margin: auto;
}

#footer{
    margin-top: 100px;
}

#footer .contacts{
    display: flex;
    height: 10rem;
    background: white;
    width: 100%;
    margin-inline: 0;
    padding-inline: 0;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0    2px 2.2px rgba(0, 0, 0, 0.05),
                0 -0.5px 2.2px rgba(0, 0, 0, 0.05);
}

#footer .labels{
    display: flex;
    height: 10rem;
    background: #E6001E;
    color: white;
    width: 100%;
    margin-inline: 0;
    padding-inline: 0;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0    2px 2.2px rgba(0, 0, 0, 0.05),
    0 -0.5px 2.2px rgba(0, 0, 0, 0.05);
}

#footer .linksandstuff{
    display: flex;
    height: auto;
    background: #595959;
    color: white;
    width: 100%;
    margin-inline: 0;
    padding-inline: 0;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0    2px 2.2px rgba(0, 0, 0, 0.05),
    0 -0.5px 2.2px rgba(0, 0, 0, 0.05);
}

#map { /* google maps */
    height: 20rem;
    width: 100%;
}

#footer .anotherfooter{
    display: flex;
    height: 10rem;
    background: #9d9d9d;
    color: white;
    width: 100%;
    margin-inline: 0;
    padding-inline: 0;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0    2px 2.2px rgba(0, 0, 0, 0.05),
    0 -0.5px 2.2px rgba(0, 0, 0, 0.05);
}

#productPathWrapper {
    margin-block: 0.5rem;
}

#productPathWrapper #productPath {
    font-size: 1rem;
    font-variant-caps: all-small-caps;
}

#productPathWrapper #productPath a:hover {
    color: red;
}

#productOverviewPage {
    display: flex;
    flex-wrap: wrap;
}

#productOverviewPage .productcard {
    border-radius: max(0px, min(3px, (100vw - 100%) * 9999));
    height: 20rem;
    min-height: 20rem;
    max-height: 20rem;
    width: 14rem;
    max-width: 15rem;
    background: white;
    padding: 1.25rem;
    margin-inline: 0.25rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    box-shadow: 0 2px 2.2px rgb(0 0 0 / 12%), 0 -0.5px 2.2px rgb(0 0 0 / 12%);
    overflow: hidden;
}

#productOverviewPage .productcard:hover {
    box-shadow: 0 2px 2.2px rgb(155 0 0 / 32%), 0 -0.5px 2.2px rgb(155 0 0 / 32%);
}


#productOverviewPage .productcard:hover .productimage img {
    transform: scale(1.2);
    transition: all 0.25s ease-out;
}

#productOverviewPage .productcard a:link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

#productOverviewPage .productcard .productimage {
    margin: auto;
    height: 15rem;
    min-height: 15rem;
    display: inline-flex;
}

#productOverviewPage .productcard .productimage img {
    margin: auto;
    width: 100%;
}

#productOverviewPage .productcard .infoAll {
    z-index: 1;
    color: black;
    display: grid;
}

#productOverviewPage .productcard .infoAll .name {
    font-weight: 400;
}

#productOverviewPage .productcard .infoAll .shortdesc {
    font-size: 0.8rem;
    color: #555555;
    margin-top: 0.5rem;
}

#productOverviewPage .productcard .infoAll .price {
    margin-top: 0.5rem;
}

#productPage {
    padding: 1rem;
    background-color: white;
    box-shadow: 0 2px 2.2px rgb(0 0 0 / 12%), 0 -0.5px 2.2px rgb(0 0 0 / 12%);
    margin: 0.25rem;
}
#productPage .product {
    display: flex;
}
#productPage .product .productimageMainWrapper {
    width: min-content;
    padding-right: 0.5rem;
}
#productPage .product .productimageMainWrapper .productimageMain {
    height: auto;
}
#productPage .product .productInfo {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    width: -moz-available;
}
#productPage .product .productInfo textarea {
    width: -moz-available;
    width: -webkit-fill-available;
    border: 1px solid #EEEEEE;
    height: 4rem;
}
#productPage .product .productInfo #adminProductShortDesc {
    width: -moz-available;
    width: -webkit-fill-available;
    border: 1px solid #EEEEEE;
    height: 1.5rem;
    margin-block: 0.5rem;
}
#productPage .product .productInfo #adminProductSend {
    width: fit-content;
    margin-top: 10px;
}
#productPage .product .productInfo #adminProductDetail {
    margin-block: 0.5rem;
}
#productPage .product .productInfo input[type=number] {
    border: none;
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
    width: 2rem;
}
#productPage .product .productInfo input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#productPage .product .productName {
    font-weight: 500;
    font-size: 2rem;
    padding-bottom: 0.8rem;
}
#productPage .product .productimageMain {
    padding-right: 0.5rem;
    width: 20rem;
    min-width: 20rem;
    display: inline-flex;
    height: 100%;
}
#productPage .product .productimages {
    padding-block: 0.8rem;
    display: flex;
    align-items: center;
}
#productPage .product .productimages .productimageSmallWrapper {
    border: 1px solid #DDDDDD;
    padding: 1px;
    width: 5rem;
    height: 5rem;
    margin: 1px;
    display: inline-flex;
    align-items: center;
}
#productPage .product .productimages .productimageSmallWrapper .productimageSmall {
    width: 5rem;
}

#productPage .product .productDetails {
    font-size: 0.8rem;
    color: #555555;
    padding-bottom: 0.8rem;
}
#productPage .product .productPrice {
    float: right;
}

.configPoint, configPointUpload{
    margin-bottom: 10px;
}

.configPoint .attributeSelected, .configPointUpload .attributeSelected{
    width: 100px;
    border: none;
    cursor: pointer;
    background: none;
    pointer-events: none;
}

.configPoint .attributeName, .configPointUpload .attributeName{
    font-weight: 500;
}

.configPoint .attributeDetails, .configPointUpload .attributeDetails{
    font-size: 0.8rem;
    color: #555555;
    padding-right: 2rem;
    margin-left: auto;
    width: 400px;
}

.configPoint > summary, .configPointUpload > summary {
    border-top: #c8c8c8 1px solid;
    cursor: pointer;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.configPoint[open] > summary, .configPointUpload[open] > summary  {
    background-color: #f2f1f1;
    cursor: pointer;
    padding: .5rem 1rem;
}

.configPoint > summary > *, .configPointUpload > summary > *  {
    display: inline;
}

.configPoint > div, .configPointUpload > div {
    border: 2px solid #f2f1f1;
    margin-top: 0;
    padding: 1rem;
}

button{
    height: 2em;
    border-radius: 0px;
    width: auto;
    margin-bottom: 0;
    background: rgb(255,90,105);
    border: 4px solid rgb(255,90,105);
    color: white;
    font-weight: bold;
    line-height: 0;
}

button:hover {
    background: white;
    color: rgb(255,90,105);
    border: 4px solid rgb(255,90,105);
}

.attributeConfig{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.attributeConfig input[type="radio"]
{
    border: 0px;
    opacity: 0.01;
    z-index: 100;
}

.attributeConfig input[type="radio"]:checked+label
{
    border: 0px;
    font-weight: 500;
    background: rgb(255,90,105);
    color: white;
    outline: 4px solid rgb(255,90,105);
    border-radius: 2px;
}

.attributeConfig label{
    border: 0px;
    padding: 5px;
    cursor: pointer;
    z-index: 90;
    outline: 1px solid rgb(200, 200, 200);
    margin: 5px;
    border-radius: 2px;
}

.attributeConfig label:hover{
    background: #ddd;
}
.productBottomSection{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #e0dede;
    padding-top: 1rem;
    margin-block: 1rem;
}

#currentPrice{
    padding-right: 1rem;
    font-size: 20px;
    color: rgba(46, 46, 46, 0.7);
    font-weight: 350;
}

#productimageMainDisplay{
    border-radius: 10px;
    border: 3px dashed lightgray;
    width: 40rem;
    height: auto;
}

#cart{
}

.cartItem {
    margin-block: 1rem;

    border-radius: max(0px, min(3px, (100vw - 100%) * 9999));
    background: white;
    padding: 1.25rem;
    margin: 0.25rem;
    box-shadow: 0 2px 2.2px rgb(0 0 0 / 12%), 0 -0.5px 2.2px rgb(0 0 0 / 12%);
    overflow: hidden;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.cartProductImage{
    width: 6rem;
    height: 6rem;
    border: 1px solid #d0d0d0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartProductImage img{
    width: 6rem;
}

.cartProductInfo{
    margin-left: 1rem;
    width: 100%;
}

.cartProductName{
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 14pt;
}

.cartProductConfigurations{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 5rem;
}

.cartConfigPoint {
    margin-right: 1rem;
}

.cartConfigPointName{
    font-weight: 400;
}

.cartItemPrice {
    font-size: 15pt;
    font-weight: 200;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.removeFromCart {
    cursor: pointer;
}

.linksRightSide{
    display: flex;
    justify-content: flex-end;
}

.linksRightSide a.linkButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 0.5rem;
    font-size: small;
}

a:hover {
    color: red;
}

#adressElement summary{
    padding: 0;
    height: 0;
}

#adressElement{
    margin: 0.25rem;
    background: #FFFFFF;
    filter: drop-shadow(0px   1px    2px    rgba(0, 64, 128, 0.2));
}

.inputfields {
    display: flex;
    width: auto;
    padding: 1rem;
    flex-direction: column;
}

 .inputfields .req{
    font-size: 9pt;
    color: grey;
}

#country {
     outline: none;
     border: none;
     background: white;
    width: 99%;
}

.country:focus{
    border: 1px solid rgb(255,90,105);
}

 .inputfields .sucess {
    background: #00a0c3;
    padding: 10px;
    margin-top: 10px;
    color: white;
}

.inputfields .error {
    background: rgb(230,0,30);
    padding: 10px;
    margin-top: 10px;
    color: white;
}

.cityContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.citycityContainer {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.adressorloginWrapper {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.loginorguest{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adressinput {
    border-left: 1px solid #e0dede;
    margin: 10px;
    width: 60%;
}

details summary::-webkit-details-marker {
    display:none;
}

details summary:first-of-type {
    list-style-type: none;
}

#myBlinkingDiv{
    font-size: 100pt;
    animation: color-change 0.1s infinite;
    text-align: -webkit-center;
}

@keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}

#login-container {
    top: 10%;
    width: min-content;
    margin: auto;
    margin-top: 10%;
    padding: 20px;
    background: white;
    filter: drop-shadow(0px   1px    2px    rgba(0, 64, 128, 0.2));
}

#login-container form .textboxoutline {
    float: none !important;
}

#login-container form .textboxoutline input[type="text" i] {
    float: none;
    width: max-content;
}

#login-container form {
    display: flex;
    flex-direction: column;
}

#adminDashboardBackground{
    padding: 1rem;
    background-color: white;
    box-shadow: 0 2px 2.2px rgb(0 0 0 / 12%), 0 -0.5px 2.2px rgb(0 0 0 / 12%);
    margin: 0.25rem;
}

h1 {
    font-size: xxx-large;
    margin-block: 0.25rem;
    margin-inline: 1.5rem;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.xachseunten g text{
    font-size: 0.85rem !important;
}

.yachselinks g text{
    font-size: 0.85rem !important;
}

div#tilecollection{
    padding-block: 20px;
    padding-inline: 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

div.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    color: #000000;
    background: #ffffff;
    border: 2px solid steelblue;
    box-shadow: 0  2.0px 2.2px rgb(0 0 0 / 12%),
                0 -0.5px 2.2px rgb(0 0 0 / 12%);
    width: 8rem;
    height: 7rem;
    justify-content: center;
    margin-inline: 1rem;
}

.tile .number{
    font-size: larger;
    font-weight: bold;
}

.area {
    fill: lightsteelblue;
    opacity: 0.4;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}
.grid path {
    stroke-width: 0;
}

.bar {
    fill: steelblue;
}

div.tooltip {
    position: absolute;
    width: 10rem;
    height: 3rem;
    padding: 2px;
    font: 1rem sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}